#AWS Region
region = "eu-north-1"

# CIDR block for the VPC to be created.
vpc_cidr1 = "10.1.0.0/16"
vpc_cidr2 = "10.2.0.0/16"

# List of availability zones in the region.
availability_zones = ["eu-north-1a", "eu-north-1b", "eu-north-1c"]

# AWS Account ID
peer_owner_id = "123456789"

# Common tags to be applied to all resources.
common_tags = {
  Project     = "Website"
  Environment = "Development"
}
